<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Theme\Block\Html\Header">
        <plugin name="snippetPluginHeader" type="Snippet\Plugin\Plugin\Magento\Theme\Block\Html\Header" sortOrder="1" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="snippetPluginProduct" type="Snippet\Plugin\Plugin\Magento\Theme\Block\Html\Breadcrumbs" />
    </type>
</config>
