<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Snippet\Controller\Controller\Custom\Index">
        <arguments>
            <argument name="snippetString" xsi:type="string">Snippet String</argument>
            <argument name="snippetArray" xsi:type="array">
                <item name="item1" xsi:type="string">Snippet Array Item 1</item>
                <item name="item2" xsi:type="string">Snippet Array Item 2</item>
                <item name="item3" xsi:type="string">Snippet Array Item 3</item>
            </argument>
        </arguments>
    </type>
</config>
